@use "sass:color" as c;
@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;
@use "../typography" as *;

.searchform {
	--glass-padding: 0.35rem;
	--glass-border: 1rem;
	position: relative;
	z-index: 3;
	padding: var(--glass-padding);
	display: inline-grid;
	gap: 0;
	border-radius: var(--glass-border);
	margin-block-end: 2rem;
	width: max((50% - var(--glass-padding)), 13rem);
	background-color: c.adjust(c("black"), $alpha: -0.8);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);

	@media (width < 600px) {
		width: 100%;
	}

	&__input,
	&__submit {
		grid-area: 1 / -1;
		border-radius: calc(var(--glass-border) - var(--glass-padding));
	}

	&__input {
		min-height: 3.5rem;
		border: 0;
		background-color: v("white");
		padding-inline: 0.5rem;
		min-inline-size: 0;
		inline-size: 100%;
		font: inherit;
		font-size: fluid-rem(1.125rem, 1.5rem);

		&::-webkit-search-cancel-button {
			display: none;
		}
	}

	&__submit {
		@include size(3.5rem, 3rem);
		justify-self: end;
		border: 0;
		cursor: pointer;
		background-color: transparent;
		color: hsl(0deg 0% 0% / 0.2);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		margin-inline-end: 0.25rem;
		pointer-events: none;

		svg {
			@include size(1.5rem);
		}
	}

	&__results {
		display: block;
		position: absolute;
		top: calc(100% + 0.25rem);
		left: 0;
		height: auto;
		background-color: c.adjust(c("black"), $alpha: -0.8);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		padding: var(--glass-padding);
		z-index: 1000;
		border-radius: var(--glass-border);

		&[aria-hidden="true"] {
			display: none;
		}

		&-list {
			--icon-size: 3rem;
			margin: 0;
			padding: fluid-rem(1.25rem, 2rem);
			background-color: v("white");
			border-radius: calc(var(--glass-border) - var(--glass-padding));
			display: grid;
			gap: 0.75rem;

			@media (width < 420px) {
				--icon-size: 2rem;
			}
			@media (width < 375px) {
				--icon-size: 1.5rem;
			}

			li {
				&:not(.empty) {
					@extend %bold;
					font-size: 1.25rem;
					border-radius: calc(
						var(--glass-border) - var(--glass-padding)
					);

					&:focus,
					&:hover {
						background-color: v("off-white");
					}

					a {
						display: block;
						padding: 0.25rem 0.5rem;
					}
				}

				&.empty {
					text-align: center;

					strong {
						@extend %bold;
						color: v("black");
					}

					p {
						font-size: 0.875rem;
						color: c.adjust(c("black"), $alpha: -0.35);

						&:not(:first-child) {
							margin-top: 1em;
						}
					}
				}
			}
		}
	}
}
