.public_environments_section {
  width: 100%;
  height: auto;
  margin: 0 auto clamp(45px, 15vw, 120px);

  .rnvironments_heading {
    max-width: 1097px;
    font-family: var(
      --font-family-regular,
      "ZonaPro-Regular",
      "Open Sans",
      sans-serif
    );
    font-size: clamp(32px, 5vw, 48px);
    line-height: clamp(40px, 5vw, 56px);
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0 auto clamp(35px, 12vw, 105px);

    @media (max-width: 1125px) {
      padding: 0 24px;
    }

    & > span {
      font-family: var(
        --font-family-semi,
        "ZonaPro-SemiBold",
        "Open Sans",
        sans-serif
      );
    }
  }

  .public_environments_banner {
    max-width: 1364px;
    height: auto;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      margin-bottom: 44px;
    }

    &.__trade_banner {
      margin-left: auto;

      @media (max-width: 1388px) {
        margin-left: 24px;
      }
    }
    &.__refurbished_banner {
      margin: 0 auto 120px 0;

      @media (max-width: 768px) {
        margin: 0 24px 16px 0;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        margin: 0 24px 44px 0;
      }

      @media (max-width: 1388px) {
        margin-right: 24px;
      }

      @media (min-width: 992px) and (max-width: 1299px) {
        margin: 0 auto 90px 0;
      }
    }

    .env_banner_img {
      width: 100%;
      height: auto;
      object-fit: contain;

      @media (max-width: 992px) {
        display: none;
      }
    }
    .env_banner_img_2 {
      width: 100%;
      height: auto;
      object-fit: contain;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .env_btn {
      position: relative;
      width: auto;
      display: flex;
      justify-content: flex-end;
      margin: -98px 44px 0 0;

      @media (max-width: 768px) {
        margin: 8px 24px 0 0;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        margin: 16px 24px 0 0;
      }

      &.__refurbished_btn {
        justify-content: flex-start;
        margin: -130px 0 0 115px;

        @media (max-width: 768px) {
          margin: 8px 0 0 24px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          margin: 16px 0 0 24px;
        }

        @media (min-width: 992px) and (max-width: 1299px) {
          margin: -100px 0 0 90px;
        }
      }
    }
  }
}
