<aside class="eco eco--{{name}}" id="{{name}}">
	<picture class="eco__picture">
		<source media="(max-width: 768px)" srcset="./images/{{name}}-mobile.png" />
		<img src="./images/{{name}}-desktop.png" alt="" />
	</picture>
	<a href="{{linkUrl}}" target="{{target}}" class="button __black">
		{{linkLabel}}
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
			<path
				d="m15 11.5-.2-.4-3.9-3.8c-.2-.2-.5-.3-.8-.3-.3 0-.6 0-.9.3-.2.2-.3.5-.3.9s.1.6.3.8l3 3-3 3a1 1 0 0 0-.2.4l-.1.4v.5l.3.4.4.3h1l.4-.3 3.8-3.8c0-.2.2-.3.3-.4v-1Z"
			/>
			<path
				d="M12 23.5a11.5 11.5 0 1 1 0-23 11.5 11.5 0 0 1 0 23Zm0-20.7a9.2 9.2 0 1 0 0 18.4 9.2 9.2 0 0 0 0-18.4Z"
			/>
		</svg>
	</a>
</aside>
