@use "./functions" as *;

%container {
	--padding-inline: 1.5rem;
	--vw-unit: 50%;
	padding-inline: max(
		var(--padding-inline),
		var(--vw-unit) - var(--container) / 2
	);

	&-bleed-left {
		--padding-inline: 1.5rem;
		--vw-unit: 50vw;
		padding-inline-end: max(
			var(--padding-inline),
			(var(--vw-unit) - var(--container) / 2) * 2
		);
	}

	&-bleed-right {
		--padding-inline: 1.5rem;
		--vw-unit: 50vw;
		padding-inline-start: max(
			var(--padding-inline),
			(var(--vw-unit) - var(--container) / 2) * 2
		);
	}
}

%sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

%cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

%contain {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
