// @forward "./fonts";
@forward "./variables";

[data-holy] {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  line-height: 1.5;
  font-style: normal;
  font-family: var(
    --font-family-regular,
    "ZonaPro-Regular",
    "Open Sans",
    sans-serif
  );

  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 400;
    }
  }

  @import "./reset";
  @import "./external";
  @import "./typography";
  @import "./sections";
  @import "./components";
}
