<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="" />
	<link rel="preconnect" href="https://external.webstorage.gr" />
	<link rel="preconnect" href="https://media.public.gr" />
	<!-- <link rel="stylesheet" href="./public-assets/styles.9337c818f8f74d16.css" /> -->
	<style>
		@import "./public-assets/styles.9337c818f8f74d16.css";
	</style>
	<module href="./public-styles.html"></module>
</head>
